@{
    ViewData["Title"] = "Privacy Policy";
    var themeClass = ViewBag.UserPreference == "DarkMode" ? "dark-theme" : "light-theme";
}
<body class="@themeClass">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</body>